<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Jeanmarcos Juarez
 * SPDX-License-Identifier: OSL-3.0 OR AFL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventoryAdjustmentApi\Api\AdjustmentContextInterface" type="Magento\InventoryAdjustment\Model\AdjustmentContext"/>
    <preference for="Magento\InventoryAdjustmentApi\Api\Data\AdjustmentMetadataInterface" type="Magento\InventoryAdjustment\Model\AdjustmentMetadata"/>
    <preference for="Magento\InventoryAdjustmentApi\Api\Data\AdjustmentInterface" type="Magento\InventoryAdjustment\Model\Adjustment"/>
    <preference for="Magento\InventoryAdjustmentApi\Api\Data\AdjustmentSearchResultsInterface" type="Magento\InventoryAdjustment\Model\AdjustmentSearchResults"/>
    <preference for="Magento\InventoryAdjustmentApi\Api\AdjustmentRepositoryInterface" type="Magento\InventoryAdjustment\Model\AdjustmentRepository"/>
    <preference for="Magento\InventoryAdjustmentApi\Api\Data\AdjustmentInputInterface" type="Magento\InventoryAdjustment\Model\AdjustmentInput"/>
    <type name="Magento\InventoryApi\Api\SourceItemsSaveInterface">
        <plugin name="inventory_adjustment_explicit_adjustment" type="Magento\InventoryAdjustment\Plugin\InventoryApi\ExplicitAdjustmentPlugin"/>
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\SaveMultiple">
        <plugin name="inventory_adjustment_record_save" type="Magento\InventoryAdjustment\Plugin\Inventory\RecordSaveMultiplePlugin"/>
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\DeleteMultiple">
        <plugin name="inventory_adjustment_record_delete" type="Magento\InventoryAdjustment\Plugin\Inventory\RecordDeleteMultiplePlugin"/>
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\DecrementQtyForMultipleSourceItem">
        <plugin name="inventory_adjustment_record_decrement" type="Magento\InventoryAdjustment\Plugin\Inventory\RecordDecrementPlugin"/>
    </type>
    <type name="Magento\InventorySourceDeductionApi\Model\SourceDeductionServiceInterface">
        <plugin name="inventory_adjustment_sales_event_context" type="Magento\InventoryAdjustment\Plugin\InventorySourceDeductionApi\SalesEventContextPlugin"/>
    </type>
    <type name="Magento\InventoryShipping\Observer\SourceDeductionProcessor">
        <plugin name="inventory_adjustment_shipment_context" type="Magento\InventoryAdjustment\Plugin\InventoryShipping\ShipmentContextPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Model\UpdateSourceItemBasedOnLegacyStockItem">
        <plugin name="inventory_adjustment_legacy_stock_item_context" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\LegacyStockItemContextPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Plugin\CatalogInventory\UpdateSourceItemAtLegacyQtyCounterPlugin">
        <plugin name="inventory_adjustment_legacy_qty_counter_context" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\LegacyQtyCounterContextPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Model\UpdateInventory">
        <plugin name="inventory_adjustment_mass_update_context" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\MassUpdateContextPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Plugin\Catalog\Model\ResourceModel\Product\CreateSourceItemsPlugin">
        <plugin name="inventory_adjustment_sku_rename_context" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\SkuRenameContextPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Model\DeleteSourceItemsBySkus">
        <plugin name="inventory_adjustment_product_cleanup_context" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\ProductCleanupContextPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Model\ResourceModel\BulkSourceUnassign">
        <plugin name="inventory_adjustment_record_bulk_unassign" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\RecordBulkSourceUnassignPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Model\ResourceModel\BulkInventoryTransfer">
        <plugin name="inventory_adjustment_record_bulk_transfer" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\RecordBulkInventoryTransferPlugin"/>
    </type>
    <type name="Magento\InventoryCatalog\Model\ResourceModel\TransferInventoryPartially">
        <plugin name="inventory_adjustment_record_partial_transfer" type="Magento\InventoryAdjustment\Plugin\InventoryCatalog\RecordPartialTransferPlugin"/>
    </type>
    <type name="Magento\AsynchronousOperations\Model\OperationProcessor">
        <plugin name="inventory_adjustment_bulk_operation_origin" type="Magento\InventoryAdjustment\Plugin\AsynchronousOperations\BulkOperationOriginPlugin"/>
    </type>
    <type name="Magento\ImportExport\Model\Import">
        <plugin name="inventory_adjustment_import_origin" type="Magento\InventoryAdjustment\Plugin\ImportExport\ImportOriginPlugin"/>
    </type>
    <type name="Magento\InventoryImportExport\Model\Import\Command\Replace">
        <plugin name="inventory_adjustment_record_replace" type="Magento\InventoryAdjustment\Plugin\InventoryImportExport\RecordReplacePlugin"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="inventoryAdjustmentVerify" xsi:type="object">Magento\InventoryAdjustment\Console\Command\VerifyAdjustmentsCommand</item>
            </argument>
        </arguments>
    </type>
</config>
