<?xml version="1.0"?>
<!--
/**
 * Copyright 2026 Jeanmarcos Juarez
 * SPDX-License-Identifier: OSL-3.0 OR AFL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magento_InventoryAdjustmentAdminUi">
        <sequence>
            <module name="Magento_InventoryAdjustment"/>
            <module name="Magento_InventoryAdminUi"/>
            <module name="Magento_InventoryCatalogAdminUi"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
